body {
  background-image: url("../images/background_1920.jpg");
  background-size: 100%, 100%;
}

h3 {
  text-align: center;
  color: white;
}

.table {
  margin-left: auto;
  margin-right: auto;
  color: #3eeeee;
  border-collapse: collapse;
  border: 1px solid #999;
}

th,
td {
  border: 1px #999 solid;
}

.playerStats {
  text-align: center;
}

.searchForm {
  margin-bottom: 1%;
}
.header {
  width: 100%;
  background-color: black;
}

.content-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
